.row.row-top
  .column.m-right-3.flex-3
    .event-section.event-detail-header
      h1.title-regular.m-bottom-2
        | Student Mass
      p.body-light
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rhoncus, nibh et feugiat ullamcorper, leo dui euismod risus, consequat fringilla nulla nisl quis metus. Cras magna nibh, aliquet placerat sagittis in, rhoncus sed elit. Sed et tempus urna. Integer sit amet nulla lacinia, pretium leo ac, efficitur odio. Duis sed auctor urna, vel lacinia dolor. Aliquam lacus diam, malesuada ultricies ante sed, gravida viverra orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis fringilla massa vitae elementum pulvinar. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi pellentesque lacus in dictum dapibus. 
    section.event-section
      h2.section-title
        | Host
      span
        | popefracis@vatican.com
    section.event-section
      h2.section-title
        | Atendees
      span
        | 8
    section.event-section
      h2.section-title
        | Location
      img(src="http://via.placeholder.com/700x350")
  .column.flex-1.event-summary
    .row.m-bottom-1
      img.m-right-1(src="assets/calendar.svg", alt="")
      span
        | March 9
    .row.m-bottom-1
      img.m-right-1(src="assets/calendar.svg", alt="")
      span
        | 03:00 PM
    .row.m-bottom-5
      img.m-right-1(src="assets/pin.svg", alt="")
      span
        | Vatican City
    button.green-button.item-center
      | Join event
