.events-wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-wrapper {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 11px 0 $black-translucent;
  cursor: pointer;
  margin-bottom: 40px;
  padding: 30px;
  width: 260px;
  position: relative;

  .add-button {
    position: absolute;
    right: -20px;
    bottom: -20px;

    img {
      height: 40px;
      width: 40px;
    }
  }
}

.event-header {
  border-bottom: 1px solid $gray;
  margin-bottom: 20px;
  padding-bottom: 40px;
}

.event-date {
  background: $purple;
  border-radius: 100%;
  color: $white;
  height: 50px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  width: 50px;

  span {
    color: $white;

    &:first-child {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 2px;
    }

    &:last-child {
      font-size: 10px;
      line-height: 10px;
    }
  }
}

.event-info {
  span {
    &.event-title {
      font-size: 20px;
      margin-bottom: 10px;
    }

    &.event-location {
      font-weight: 300;
    }
  }
}

.profile-pic {
  max-width: 60px;
  max-height: 60px;
  margin-right: 10px;
  border-radius: 100%;
}

.interest-wrapper {
  flex-wrap: wrap;
}

.interest {
  padding: 5px;
  border-radius: 5px;
  background-color: $purple;
  color: $white;
  margin-bottom: 5px;
  margin-right: 5px;
}

.religion {
  color: $blue;
  font-weight: 600;
}
