.column.column-center.welcome(ng-show='!loggedUser')
  h1.m-bottom-3
    | Welcome to
  img(src="assets/faithbook.svg")
.column(ng-show='loggedUser')
  input.search-bar(placeholder="Search...")
  .row.events-wrapper
    .column.event-wrapper(ng-repeat='user in homeCtrl.users' ui-sref='profile({profileId: user["_id"]})')
      .row.event-header
        .profile-pic
          img(src="{{user.image}}")
        .column.event-info
          span.event-title
            | {{ user.name }}
          span.religion.m-bottom-1
            | {{ user.religion }}
          .row
            img.m-right-1(src="assets/pin.svg")
            span.event-location
              | {{ user.city }}
      .row.event-atendee.row-space-between
        .row.interest-wrapper
          span.interest(ng-repeat='interest in user.interests')
            | # {{ interest }}
      button.add-button
        img(src="assets/add.svg") 
