.column(ng-if='$root.loggedUser === undefined')
  | welcome to faithbook
.column(ng-if='$root.loggedUser !== undefined')
  input.search-bar(placeholder="Search...")
  .row.events-wrapper
    .column.event-wrapper
      .row.event-header
        img.profile-pic(src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg")
        .column.event-info
          span.event-title
            | John Doe
          span.religion.m-bottom-1
            | Religion
          .row
            img.m-right-1(src="assets/pin.svg")
            span.event-location
              | Bs. As.
      .row.event-atendee.row-space-between
        .row.interest-wrapper
          span.interest
            | #art
          span.interest
            | #music
          span.interest
            | #sports
          span.interest
            | #music
          span.interest
            | #sports
      button.add-button
        img(src="assets/add.svg")        
    .column.event-wrapper
      .row.event-header
        img.profile-pic(src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg")
        .column.event-info
          span.event-title
            | John Doe
          span.religion.m-bottom-1
            | Religion
          .row
            img.m-right-1(src="assets/pin.svg")
            span.event-location
              | Bs. As.
      .row.event-atendee.row-space-between
        .row.interest-wrapper
          span.interest
            | #art
          span.interest
            | #music
          span.interest
            | #sports
          span.interest
            | #music
          span.interest
            | #sports
      button.add-button
        img(src="assets/add.svg")
    .column.event-wrapper
      .row.event-header
        img.profile-pic(src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg")
        .column.event-info
          span.event-title
            | John Doe
          span.religion.m-bottom-1
            | Religion
          .row
            img.m-right-1(src="assets/pin.svg")
            span.event-location
              | Bs. As.
      .row.event-atendee.row-space-between
        .row.interest-wrapper
          span.interest
            | #art
          span.interest
            | #music
          span.interest
            | #sports
          span.interest
            | #music
          span.interest
            | #sports
      button.add-button
        img(src="assets/add.svg")        
    .column.event-wrapper
      .row.event-header
        img.profile-pic(src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg")
        .column.event-info
          span.event-title
            | John Doe
          span.religion.m-bottom-1
            | Religion
          .row
            img.m-right-1(src="assets/pin.svg")
            span.event-location
              | Bs. As.
      .row.event-atendee.row-space-between
        .row.interest-wrapper
          span.interest
            | #art
          span.interest
            | #music
          span.interest
            | #sports
          span.interest
            | #music
          span.interest
            | #sports
      button.add-button
        img(src="assets/add.svg")          
    .column.event-wrapper
      .row.event-header
        img.profile-pic(src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg")
        .column.event-info
          span.event-title
            | John Doe
          span.religion.m-bottom-1
            | Religion
          .row
            img.m-right-1(src="assets/pin.svg")
            span.event-location
              | Bs. As.
      .row.event-atendee.row-space-between
        .row.interest-wrapper
          span.interest
            | #art
          span.interest
            | #music
          span.interest
            | #sports
          span.interest
            | #music
          span.interest
            | #sports
      button.add-button
        img(src="assets/add.svg")        
    .column.event-wrapper
      .row.event-header
        img.profile-pic(src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg")
        .column.event-info
          span.event-title
            | John Doe
          span.religion.m-bottom-1
            | Religion
          .row
            img.m-right-1(src="assets/pin.svg")
            span.event-location
              | Bs. As.
      .row.event-atendee.row-space-between
        .row.interest-wrapper
          span.interest
            | #art
          span.interest
            | #music
          span.interest
            | #sports
          span.interest
            | #music
          span.interest
            | #sports
      button.add-button
        img(src="assets/add.svg")
    .column.event-wrapper
      .row.event-header
        img.profile-pic(src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg")
        .column.event-info
          span.event-title
            | John Doe
          span.religion.m-bottom-1
            | Religion
          .row
            img.m-right-1(src="assets/pin.svg")
            span.event-location
              | Bs. As.
      .row.event-atendee.row-space-between
        .row.interest-wrapper
          span.interest
            | #art
          span.interest
            | #music
          span.interest
            | #sports
          span.interest
            | #music
          span.interest
            | #sports
      button.add-button
        img(src="assets/add.svg")
    .column.event-wrapper
      .row.event-header
        img.profile-pic(src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg")
        .column.event-info
          span.event-title
            | John Doe
          span.religion.m-bottom-1
            | Religion
          .row
            img.m-right-1(src="assets/pin.svg")
            span.event-location
              | Bs. As.
      .row.event-atendee.row-space-between
        .row.interest-wrapper
          span.interest
            | #art
          span.interest
            | #music
          span.interest
            | #sports
          span.interest
            | #music
          span.interest
            | #sports
      button.add-button
        img(src="assets/add.svg")
