.row.row-top
  .column.m-right-3
    img(src="http://via.placeholder.com/280x500")
    p
      | 9th march
  .column
    input.search-bar(placeholder="Search...")
    .row.events-wrapper
      .column.event-wrapper
        .row.event-header
          .column.event-date
            span
              | 06
            span
              | OCT.
          .column.event-info
            span.event-title
              | Student Mass
            .row
              img.m-right-1(src="assets/pin.svg", alt="")
              span.event-location
                | Bs. As.
        .row.event-atendee.row-space-between
          span
            | 7 Atendees
          button
            img(src="assets/add.svg", alt="")        
      .column.event-wrapper
        .row.event-header
          .column.event-date
            span
              | 06
            span
              | OCT.
          .column.event-info
            span.event-title
              | Student Mass
            .row
              img.m-right-1(src="assets/pin.svg", alt="")
              span.event-location
                | Bs. As.
        .row.event-atendee.row-space-between
          span
            | 7 Atendees
          button
            img(src="assets/add.svg", alt="")
      .column.event-wrapper
        .row.event-header
          .column.event-date
            span
              | 06
            span
              | OCT.
          .column.event-info
            span.event-title
              | Student Mass
            .row
              img.m-right-1(src="assets/pin.svg", alt="")
              span.event-location
                | Bs. As.
        .row.event-atendee.row-space-between
          span
            | 7 Atendees
          button
            img(src="assets/add.svg", alt="")        
      .column.event-wrapper
        .row.event-header
          .column.event-date
            span
              | 06
            span
              | OCT.
          .column.event-info
            span.event-title
              | Student Mass
            .row
              img.m-right-1(src="assets/pin.svg", alt="")
              span.event-location
                | Bs. As.
        .row.event-atendee.row-space-between
          span
            | 7 Atendees
          button
            img(src="assets/add.svg", alt="")          
      .column.event-wrapper
        .row.event-header
          .column.event-date
            span
              | 06
            span
              | OCT.
          .column.event-info
            span.event-title
              | Student Mass
            .row
              img.m-right-1(src="assets/pin.svg", alt="")
              span.event-location
                | Bs. As.
        .row.event-atendee.row-space-between
          span
            | 7 Atendees
          button
            img(src="assets/add.svg", alt="")        
      .column.event-wrapper
        .row.event-header
          .column.event-date
            span
              | 06
            span
              | OCT.
          .column.event-info
            span.event-title
              | Student Mass
            .row
              img.m-right-1(src="assets/pin.svg", alt="")
              span.event-location
                | Bs. As.
        .row.event-atendee.row-space-between
          span
            | 7 Atendees
          button
            img(src="assets/add.svg", alt="")
      .column.event-wrapper
        .row.event-header
          .column.event-date
            span
              | 06
            span
              | OCT.
          .column.event-info
            span.event-title
              | Student Mass
            .row
              img.m-right-1(src="assets/pin.svg", alt="")
              span.event-location
                | Bs. As.
        .row.event-atendee.row-space-between
          span
            | 7 Atendees
          button
            img(src="assets/add.svg", alt="")
