.column.column-center
  h1.title-regular.m-bottom-5
    | Sign in
  form.column.signin-form.m-bottom-3
    input.input-base(placeholder="Name" type='text' required)
    input.input-base(placeholder="Email" type='email' required)
  button.green-button
    | Submit
