.column.m-right-3.flex-3.profile-container
  .profile-section.event-detail-header.column
    .row.row-top.card.m-bottom-5
      .profile-pic-big.flex-1
        img(src="{{profileCtrl.user.image}}")
      .column.flex-3
        .row.row-space-between.row-top
          h1.title-regular.m-bottom-1
            | {{ profileCtrl.user.name }}. 24
          button.green-button(ng-click='profileCtrl.sendRequest()' ng-class='{ "request-button-sent": profileCtrl.requestSent}')
            span(ng-if='!profileCtrl.requestSent')
              | Send request
            span(ng-if='profileCtrl.requestSent')
              | Request sent
        .row.m-bottom-3
          img.m-right-1(src="assets/pin.svg")
          span.event-location
            | {{ profileCtrl.user.city }}
        span.religion-title.m-bottom-1
          | {{ profileCtrl.user.religion }}
        .row.interest-wrapper.m-bottom-3
          span.interest(ng-repeat='interest in profileCtrl.user.interests')
            | # {{ interest }}
        p.body-light
          | {{ profileCtrl.user.bio }}
    .card.colum.column-center.testimonials-section(settings="profileCtrl.slickConfig")
      h1.title-regular.m-bottom-1
        | Testimonials
      slick(autoplay='true')
        .testimonial-wrapper
          img(src="https://avatars1.githubusercontent.com/u/7938095?s=460&v=4" alt="")
          span.name
            | Noelia Lopez
          span.review
            | "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        .testimonial-wrapper
          img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaB9mCGzzPIOhyXazbnl_7EY4_cJLU0FlKSHizku921ufB4EXhiQ" alt="")
          span.name
            | John Doe
          span.review
            | "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
