.connections-page.column.column-center  
  h1.title-regular.m-bottom-5
    | My connections
  .column
    .row.events-wrapper
      .column.event-wrapper
        .row.event-header
          img.profile-pic(src="https://i.imgur.com/V8IcHIl.png")
          .column.event-info
            span.event-title
              | Francesca Russo
            span.religion.m-bottom-1
              | Catholic
            .row
              img.m-right-1(src="assets/pin.svg")
              span.event-location
                | Rome
        .row.event-atendee.row-space-between
          .row.interest-wrapper
            span.interest
              | #good coffee
            span.interest
              | #books
            span.interest
              | #travelling
