.connections-page.column.column-center  
  h1.title-regular.m-bottom-5
    | My connections
  .column
    .row.events-wrapper
      .column.event-wrapper(ng-repeat='user in connectionCtrl.users' ui-sref='profile({profileId: user["_id"]})')
        .row.event-header
          img.profile-pic(src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg")
          .column.event-info
            span.event-title
              | {{ user.name }}
            span.religion.m-bottom-1
              | {{ user.religion }}
            .row
              img.m-right-1(src="assets/pin.svg")
              span.event-location
                | {{ user.city }}
        .row.event-atendee.row-space-between
          .row.interest-wrapper
            span.interest(ng-repeat='interest in user.interests')
              | # {{ interest }}
        button.add-button
          img(src="assets/add.svg") 
