doctype html
html(lang='en')
  head
    title faithbook
    meta(charset='UTF-8')
    meta(name='viewport'
      content='width=device-width, initial-scale=1')
    link(href='/css/vendor.css' rel='stylesheet')
    link(href='/css/application.css' rel='stylesheet')
  base(href='/')
  body(ng-app='app-bootstrap' class="{{ stateName }}" ng-strict-di)
    header.row.row-space-between
      img.logo(src="assets/logo.svg" ui-sref='home')
      p.blue-text(ng-if='!loggedUser' ui-sref='signup')
        | SIGN UP
      .row(ng-if='loggedUser')
        button.blue-text.m-right-1(ui-sref='connections')
          | My connections
        button.blue-text(ui-sref='profile({ profileId: loggedUser["_id"]})')
          | {{ loggedUser.name }}
    .max-width-container(ui-view='main')
    // inject:js
    // endinject
