doctype html
html(lang='en')
  head
    title Interfaith
    meta(charset='UTF-8')
    meta(name='viewport'
      content='width=device-width, initial-scale=1')
    link(href='/css/vendor.css' rel='stylesheet')
    link(href='/css/application.css' rel='stylesheet')
    base(href='/')
  body(ng-app='app-bootstrap' class="{{ stateName }}" ng-strict-di)
    header.row.row-space-between
      p
        | GodSquad
      p
        | Sign up
    .max-width-container(ui-view='main')
    // inject:js
    // endinject
