* {
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
}

 p,
 h1,
 h2,
 span {
  color: $dark-gray;
 }

header {
  background: $white;
  box-shadow: 0 2px 4px $black-translucent;
  height: 50px;
  margin-bottom: 100px;
  padding: 10px 30px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.logo {
  height: 30px;
  cursor: pointer;
}

.search-bar {
  background-image: url('../assets/search.svg');
  background-repeat: no-repeat;
  border-bottom: 1px solid $gray;
  color: $gray;
  height: 50px;
  margin-bottom: 30px;
  padding-left: 50px;
  text-align: left;

  background-position-x: 0;
  background-position-y: 15px;
}

.green-button {
  background-color: $green;
  color: $white;
  padding: 10px 20px;
  border-radius: 20px;

  &:hover {
    transform: scale(1.1);
    animation: all 0.25 ease-out;
  }

  span {
    color: $white;
  }
}

.green-button.request-button-sent {
  background-color: $gray;
}

.footer {
  background-color: $gray;
  height: 30px;
  width: 100%;
  padding: 30px;
  position: absolute;
  bottom: 0;
}
