* {
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
}

header {
  height: 50px;
  background: $white;
  padding: 10px 30px;
  box-shadow: 0 2px 4px $black-translucent;
  margin-bottom: 100px;
}

.search-bar {
  background-image: url('../assets/search.svg');
  background-position-x: 0;
  background-repeat: no-repeat;
  background-position-y: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid $gray;
  text-align: left;
  padding-left: 50px;
  color: $gray;
  height: 50px;
}
